ч><html>
<head>
    <title>Demo interface</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container"><br>
    <center>
        <h2>Simple interface</h2>
    </center>
</div>

<div class=container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                {{ form.csrf }}
                <div class="form-group">
                    <label for="Value 1">Value 1</label>
                    <input type="text" class="form-control" id="value_1" name="value_1" placeholder="0.000">
                    <br>

                    <label for="Value 2">Value 2</label>
                    <input type="text" class="form-control" id="value_2" name="value_2" placeholder="0.000">
                    <br>

                    <label for="Value 3">Value 3</label>
                    <input type="text" class="form-control" id="value_3" name="value_3" placeholder="0.000">
                    <br>

                    <label for="Value 4">Value 4</label>
                    <input type="text" class="form-control" id="value_4" name="value_4" placeholder="0.000">
                    <br>

                    <label for="Value 5">Value 5</label>
                    <input type="text" class="form-control" id="value_5" name="value_5" placeholder="0.000">
                    <br>
                </div>
                <br>

                <center>
                    <button type="submit" class="btn btn-success">Submit</button>
                </center>
            </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message in messages %}
                        {% if "Error" not in message[1]: %}
                            <div class="alert alert-info">
                                <strong>Success! </strong> {{ message[1] }}
                            </div>
                        {% endif %}

                        {% if "Error" in message[1]: %}
                            <div class="alert alert-danger">
                                <strong>Error: </strong> {{ message[1] }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">x1</th>
                    <th scope="col">x2</th>
                    <th scope="col">x3</th>
                    <th scope="col">x4</th>
                    <th scope="col">x5</th>
                    <th scope="col">result</th>
                </tr>
                </thead>
                <tbody>
                {% for i in table_data %}
                    <tr>
                        <th scope="row">{{ i['index'] }}</th>
                        <td>{{ i['value_1'] }}</td>
                        <td>{{ i['value_2'] }}</td>
                        <td>{{ i['value_3'] }}</td>
                        <td>{{ i['value_4'] }}</td>
                        <td>{{ i['value_5'] }}</td>
                        <td>{{ i['result'] }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
        <br>
    </div>
</div>
</body>
</html>